.login-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.alert-text {
    font-weight: bold;
    margin-right: 1rem;

}

.avatar {
    margin-right: 0.2rem;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.logout {
    display: flex;
    background-color: orange;
    width: 7rem;
    height: 1.7rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color ease 0.3s;
}

.logout:hover {
    background-color: orangered;
}
