#menu {
    margin-top: 1.5em; 
    display: grid;
    grid-template-areas:     "firsts     seconds"
                             "desserts   others"; 
 }
 
 #menu > div:nth-of-type(1) {
     grid-area: firsts;
 }
 
 #menu > div:nth-of-type(2) {
     grid-area: seconds;
 }
 
 #menu > div:nth-of-type(3) {
     grid-area: desserts;
 }
 
 #menu > div:nth-of-type(4) {
     grid-area: others;
 }
 
 h1{
     text-align: center;
     text-transform: uppercase;
     font-size: 1em;
 }
 
 h1:before{
     content: "[+]";
     margin-right: .5em;
 }
 
 @media(min-width:800px) {
     #menu{
         grid-template-areas: "firsts seconds desserts others";
     }
     h1{
         font-size: 1.2em;        
     }
 }