.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.2rem;
    border-radius: 0.3rem;
    width: 6rem;
    height: 1.7rem;
    background-color: steelblue;
    color: white;
    text-decoration: none;
}