.title{
    text-align: center;
}

.tablesContainer{
    width: 20%;
}

.selectorContainer{
    width: 20%;
}

.inputContainer{
    width: 90%;
    margin: auto;
}

.listContainer{
    margin: auto;
    width: 90%;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 40%;
    text-align: center;
    cursor: pointer;
}

.listElements{
    width: 100%;
}

.inputText{
    width: 95%;
}